:root{
    --skin: #F6C09C;
    --background: #ED4042;
    --red: #ED2860;
    --dark-red: #680524;
    --black: #00243A;
    --white: #FFF;
}
body{
    margin: 0;
}
.container{
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.head{
    width: 100px;
    height: 200px;
    background: var(--skin);
    border-radius: 50px;
    position: relative;
}
.eye-left{
    width: 20px;
    height: 20px;
    background: var(--white);
    position: absolute;
    top: 80px;
    left: 30px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40% ;
}